{{ if not .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ .Site.BaseURL }}"
    }
    {{ $pos := 1 }}
    {{ range .Ancestors.Reverse }}
    {{ if not .IsHome }}
    {{ $pos = add $pos 1 }}
    ,{
      "@type": "ListItem",
      "position": {{ $pos }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
    {{ end }}
    {{ end }}
    ,{
      "@type": "ListItem",
      "position": {{ add $pos 1 }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
{{ end }}
